{% extends "layout.html" %}
{% block content %}
    <h1>Devices:</h1>
    {% if devices|length %}
      {% for device in devices %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
               {{ device.name }}
                <small class="text-muted">{{ device.id }}</small>
              </div>
              <!-- Create new URL page for each device -->
              <style>
                #GFG {
                    text-decoration: none;
                }
            </style>
              {% set url_val = "/devpage/" + device.label + "/" + device.id %}
              <h2><a class="text-decoration-none" href={{ url_val|replace(" ","%20") }}>{{ device.label }}</a></h2>
              <p class="article-content">{{ device.currentValue }}</p>
            </div>
          </article>
      {% endfor %}
    {% else %}
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
           No devices detected. Configure Hubitat in the settings tab.
        </div>
      </div>
    {% endif %}

{% endblock content %}
