{% extends "layout.html" %}
{% block content %}

<h1>History for {{ device }}</h1>
{% set url_val = "/devpage/" + device | replace(" ", "%20") + "/" + tester.id %}
<form method ="POST" class = "grid" action = {{ url_val }}>
  <button type = "submit" value = "submit" name = "action1" class = "btn btn-primary">Exit</button>
</form>

{% if place is defined %}
<form method ="POST" class = "grid" >
  <button type = "submit" value = "createNew" name = "createNew" class = "btn btn-primary">Record</button>
</form>
{% endif %}
<article class="media content-section">
    <div class="media-body">
      {% for log in history %}
      <p class="article-content">{{ log }}</p>
      {% endfor %}
    </div>
  </article>

{% endblock content %}