{% extends "layout.html" %}
{% block content %}
  
    <article class="media content-section">
      <h2>iStart AZ Remotes</h2>
      <h3>Ensure you have read the safety guidelines on the wiki!</h3>
      <p>Note: You need to RDP into azssttdhdmt002 to access any of these links</p>
      <p>

        <h3>iStart Lite: </h3>
        {% if devices|length %}
          {% for device in devices %}
              {% set url_val = "/devpage/" + device.label + "/" + device.id %}
              <li><a class="text-decoration-none" href={{ url_val|replace(" ","%20") }}>{{ device.label }}</a>
          {% endfor %}
        {% else %}
          <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                No iStart lite devices detected. Configure Hubitat in the settings tab.
            </div>
          </div>
        {% endif %}


        <h3>iStart 2 Boxes:</h3>
        <ul>
          <li><a href="http://143.182.25.5/tester/3">CH4HDMT02442</a>
          <li><a href="http://143.182.25.5/tester/2">CH4HDMT60013</a>
          <li><a href="http://143.182.25.11/tester/1">HBI_10072</a>
          <li><a href="http://143.182.25.11/tester/2">CH4HDMT02261</a>
          <li><a href="http://143.182.25.5/tester/4">CH4HDMT00026</a>
          <li><a href="http://143.182.25.9/tester/1">CH4HDMT00049</a>
          <li><a href="http://143.182.25.5/tester/1">CH4HDMT02441</a>
          <li><a href="http://143.182.25.9/tester/3">CH4HDMT00127</a>
          <li><a href="http://143.182.25.16/tester/1">CH4HDMT02311</a>
          <li><a href="http://143.182.25.16/tester/2">CH4HDMT00217</a>
          <li><a href="http://143.182.25.16/tester/3">CH4HDMT00268</a>
          <li><a href="http://143.182.25.9/tester/2">CH4HDMT02037</a>
          <li><a href="http://143.182.25.9/tester/4">CH4HDMT00022</a>
          <li><a href="http://143.182.25.13/tester/2">CH4HDMTISV10</a>
          <li><a href="http://143.182.25.13/tester/1">CH4HDMTISV11</a>
          <li><a href="http://143.182.25.15/tester/1">CH4HDMT02311</a>
          <li><a href="http://143.182.25.15/tester/4">CH4HDMT02371</a>
          <li><a href="http://143.182.25.15/tester/2">CH4HDMT02503</a>
          <li><a href="http://143.182.25.16/tester/4">CH4HDMT60019</a>
          <li><a href="http://143.182.25.15/tester/3">CH4HDMT02029</a>
          <li><a href="http://143.182.25.8/tester/1">CH4HDMT00024</a>
          <li><a href="http://143.182.25.6/tester/2">CH4HDMTISV01</a>
          <li><a href="http://143.182.25.103/tester/2">CH4HDMTISV03</a>
          <li><a href="http://143.182.25.103/tester/1">CH4HDMTISV09</a>
          <li><a href="http://143.182.25.105/tester/2">CH4HBI10004</a>
          <li><a href="http://143.182.25.8/tester/2">CH4HDMTISV06</a>
          <li><a href="http://143.182.25.18/tester/1">CH4HBI10021</a>
          <li><a href="http://143.182.25.18/tester/2">HBI_T10087</a>
          <li><a href="http://143.182.25.29/tester/2">CH4HBI10022</a>				
          <li><a href="http://143.182.25.19/tester/1">CH4HBI10066</a>
          <li><a href="http://143.182.25.29/tester/1">CH4HBI10023</a>					
          <li><a href="http://143.182.25.10/tester/1">CH4HBI10017</a>
          <li><a href="http://143.182.25.101/tester/1">HBI_10107</a>
          <li><a href="http://143.182.25.101/tester/2">CH4HBI10027</a>
          <li><a href="http://143.182.25.105/tester/1">CH4HBI10007</a>
          <li><a href="http://143.182.25.6/tester/1">CH4HDMTISV04</a>
          <li><a href="http://143.182.25.19/tester/1">CH4HDMT60015</a>
          <li><a href="http://143.182.25.19/tester/2">CH4HDMT60028</a>
          <li><a href="http://143.182.25.32/tester/1">CH4HDTISV001</a>
          <li><a href="http://143.182.25.14/tester/1">CH4HDMTISV07</a>
          <li><a href="http://143.182.25.14/tester/2">CH4HDMTISV08</a>
          <li><a href="http://143.182.25.63/tester/1">CH4HDMTISV05</a>
          <li><a href="http://143.182.25.17/tester/1">CH4HDMT64878</a>
          <li><a href="http://143.182.25.63/tester/2">CH4HDMTISV02</a>
        </ul>
      </p>
      <p>
        <h3>By Remote Box IP:</h3>
        <ul>
          <li><a href="http://143.182.25.5">143.182.25.5</a>
          <li><a href="http://143.182.25.6">143.182.25.6</a>
          <li><a href="http://143.182.25.7">143.182.25.7</a>
          <li><a href="http://143.182.25.8">143.182.25.8</a>
          <li><a href="http://143.182.25.9">143.182.25.9</a>
          <li><a href="http://143.182.25.10">143.182.25.10</a>
          <li><a href="http://143.182.25.11">143.182.25.11</a>
          <li><a href="http://143.182.25.12">143.182.25.12</a>
          <li><a href="http://143.182.25.13">143.182.25.13</a>
          <li><a href="http://143.182.25.14">143.182.25.14</a>
          <li><a href="http://143.182.25.15">143.182.25.15</a>
          <li><a href="http://143.182.25.16">143.182.25.16</a>
          <li><a href="http://143.182.25.17">143.182.25.17</a>
          <li><a href="http://143.182.25.18">143.182.25.18</a>
          <li><a href="http://143.182.25.19">143.182.25.19</a>
          <li><a href="http://143.182.25.29">143.182.25.29</a>
          <li><a href="http://143.182.25.101">143.182.25.101</a>
          <li><a href="http://143.182.25.103">143.182.25.103</a>
          <li><a href="http://143.182.25.105">143.182.25.105</a>
          <li><a href="http://143.182.25.32">143.182.25.32</a>
          <li><a href="http://143.182.25.63">143.182.25.63</a>
        </ul>
      </p>
  </article>

{% endblock content %}
