<body>
    <form method="post" action="./HDMTRemotesOR.aspx" id="ctl01">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="YyxiR4kjjzlHP8Gr8s5997k2d6wnTuzj4krVSsYNzog9xCFDkfPPuWv6CS9r/hzYhqSG2Nm6NWdFbhkBTjdVAXPQhuzlreLbYzVKGIjZmNro376tVrsV5ZN8G2BDXxpEMPgx9plG+DRw08kRcL5bU6UXf5Mj6FGijKwJOhOIpCkPqMyMceYKly3hdpFb5ABLG0dCmkbNWcDIrixfXDrIw9lXvZahIwrnSdUsR6wEF12SArpb97pwaNzsQZUjk71B">
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['ctl01'];
if (!theForm) {
    theForm = document.ctl01;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>



<script src="/ScriptResource.axd?d=NJmAwtEo3Ipnlaxl6CMhviDZrytUQUbBTeobRohAdFt_IY4oCc-c-O4DSRhtHRoO15yxFZWcTrNnrEM5qAZEpHkBW4kue7kUivwdIQJYG6mSLnnICPVjSu33uNgWT9bb3TyAMQQy1MpyPw91ASeJzEFzzntwuDftxyUrcwplg-o1&amp;t=ffffffffc820c398" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=dwY9oWetJoJoVpgL6Zq8OIgtBMy6XXWhQ-yYXJf8xakQgEKatAe58mZ4vIaXq4wlQdVz_eSn4qIEkx4DnFXVvfiDV99D8jS5xfaWYwkhuxFHreQaJdkwPPnabIQXobzp5av2W_EcEGRQM2vGp4AKLJUDz4_gHtci14b7dJebWEs1&amp;t=ffffffffc820c398" type="text/javascript"></script>
<script src="Scripts/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="Scripts/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
<script src="Scripts/WebForms/WebForms.js" type="text/javascript"></script>
<script src="Scripts/WebForms/WebUIValidation.js" type="text/javascript"></script>
<script src="Scripts/WebForms/MenuStandards.js" type="text/javascript"></script>
<script src="Scripts/WebForms/GridView.js" type="text/javascript"></script>
<script src="Scripts/WebForms/DetailsView.js" type="text/javascript"></script>
<script src="Scripts/WebForms/TreeView.js" type="text/javascript"></script>
<script src="Scripts/WebForms/WebParts.js" type="text/javascript"></script>
<script src="Scripts/WebForms/Focus.js" type="text/javascript"></script>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="B94A9AFF">
	<input type="hidden" name="__SCROLLPOSITIONX" id="__SCROLLPOSITIONX" value="0">
	<input type="hidden" name="__SCROLLPOSITIONY" id="__SCROLLPOSITIONY" value="0">
</div>
    <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'ctl01', [], [], [], 90, 'ctl00');
//]]>
</script>

    <header>
        <div id="MasterHeader" class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <img src="Images/Intel_Logo.gif" alt="" class="auto-style1">&nbsp;&nbsp;
                    HDMT Indicators 
                </p>
            </div>
            <div class="float-right">
                <section id="login">
                    
                            <p>
                                Hello, <span class="username">AMR\jbeiferm</span>!
                            </p>
                        
                </section>
                <nav>
                    <ul id="menu">
                        <li><a href="./">Code Coverage</a></li>
                        <li><a href="HDMTRemotesOR.aspx">iStart OR</a></li>
                        <li><a href="Contact.aspx">Contact</a></li>
                    </ul>
                </nav>
                    
            </div>
              </div>
    </header>
    <div id="body" style="margin-left:10px;">
        
        <section class="content-wrapper main-content clear-fix">
            
		<h2>iStart OR Remotes</h2>
		<h3>Ensure you have read the safety guidelines on the wiki!</h3>

		<p>
			</p><h3>By Tester Name:</h3>
			<ul>
				<li>
					<h4 style="margin-bottom: 0px;">SW Lab</h4>
					<ul>
						<li><a href="http://10.23.78.5/tester/3">ORSWHDMTPS001</a>
						</li><li><a href="http://10.23.78.4/tester/2">OR-HDMT-003</a>
						</li><li><a href="http://10.23.78.8/tester/1">ORSWHDMT01059</a>
						</li><li><a href="http://10.23.78.6/tester/2">OR-HDMT-103</a>
						</li><li><a href="http://10.23.78.9/tester/1">ORSWHDMT02142</a>
						</li><li><a href="http://10.23.78.9/tester/2">ORSWHDMT02144</a>
						</li><li><a href="http://10.23.78.5/tester/4">OR-HDMT-237</a>
						</li><li><a href="http://10.23.78.6/tester/3">OR-HDMT-314</a>
						</li><li><a href="http://10.23.78.8/tester/2">OR-HDMT-2476</a>
						</li><li><a href="http://10.23.78.7/tester/1">OR-PXIE-6021</a>
						</li><li><a href="http://10.23.78.7/tester/2">OR-PXIE-6001</a>
						</li><li><a href="http://10.23.78.22/tester/1">OR-FSE6K-103</a>
						</li><li><a href="http://10.23.78.10/tester/1">ORSWFSE4K02056</a>
						</li><li><a href="http://10.23.78.6/tester/1">OR-HDMT-DV01</a>
						</li><li><a href="http://10.23.78.20/tester/1">HF2SWHBI10010</a>
						</li><li><a href="http://10.23.78.17/tester/1">HF2SWHBI10008</a>
						</li><li><a href="http://10.23.78.42/tester/1">HF2SWHBI10002</a>
					</li></ul>

				</li><li>
					<h4 style="margin-bottom: 0px;">VAL Lab</h4>
					<ul>
						<li><a href="http://10.23.246.55/tester/1">OR-HDMT-SRC1</a>
						</li><li><a href="http://10.23.246.55/tester/2">OR-HDMT-SRC2</a>
						</li><li><a href="http://10.23.78.18/tester/1">OR-HDMT-VAL1</a>
						</li><li><a href="http://10.23.78.14/tester/1">HF2VALHBI10009</a>
						</li><li><a href="http://10.23.78.15/tester/1">HF2VALHBI10005</a>
						</li><li><a href="http://10.23.78.13/SELECTTESTER?tester=0">HPCC_auto_probe</a>
						</li><li><a href="http://10.23.78.21/tester/1">OR-VALLAB-RASPBERRY-TESTER1</a>
						</li><li><a href="http://10.23.78.156/tester/1">ISTART2_VAL-Lab#1</a>
						</li><li><a href="http://10.23.78.159/tester/1">OR-ISTART2-VAL-Lab#2</a>
						</li><li><a href="http://10.23.78.160/tester/1">OR-ISTART2-VAL-Lab#3</a>
						</li><li><a href="http://10.23.78.162/tester/1">OR-ISTART2-VAL-Lab#4</a>
					</li></ul>

				</li><li>
					<h4 style="margin-bottom: 0px;">HW Lab</h4>
					<ul>
						<li><a href="http://10.23.78.168/tester/1">OR-HW-04</a>
						</li><li><a href="http://10.23.78.12/tester/1">OR-HW-05</a>
						</li><li><a href="http://10.23.78.70/tester/1">OR-HW-07</a>
						</li><li><a href="http://10.23.78.40/tester/1">OR-HW-08</a>
						</li><li><a href="http://10.23.78.11/tester/1">OR-HW-09</a>
						</li><li><a href="http://10.23.78.43/tester/1">OR-HW-10</a>
						</li><li><a href="http://10.23.78.23/tester/1">OR-HW-11</a>
						</li><li><a href="http://10.23.78.175/tester/1">OR-HW-12</a>
						</li><li><a href="http://10.23.78.175/tester/2">OR-HW-13</a>
						</li><li><a href="http://10.23.78.44/tester/1">HF2HWHBI10006</a>
						</li><li><a href="http://10.23.78.155/tester/1">HF2HWHBI10003</a>
						</li><li><a href="http://10.23.78.45/tester/1">HF2HWHBI10066</a>
					</li></ul>

				</li><li>
					<h4 style="margin-bottom: 0px;">ME Lab</h4>
					<ul>
						<li><a href="http://10.23.78.25/tester/1">OR-ME-HBI-10065</a>
						</li><li><a href="http://10.23.78.25/tester/2">OR-ME-HBI-10025</a>
					</li></ul>

				</li><li>
					<h4 style="margin-bottom: 0px;">SDL Floor(Testers on left)</h4>
					<ul>
						<li><a href="http://10.23.72.97/tester/1">HF2SWHBI10013</a>
						</li><li><a href="http://10.23.72.99/tester/1">HF2SWHBI10012</a>
						</li><li><a href="http://10.23.72.96/tester/1">HF2SWHBI10020</a>
					</li></ul>

				</li><li>
					<h4 style="margin-bottom: 0px;">SDL Floor(Testers on Right)</h4>
					<ul>
						<li><a href="http://10.23.72.101/tester/1">HBI-1</a>
						</li><li><a href="http://10.23.72.101/tester/2">HBI-2</a>
						</li><li><a href="http://10.23.72.102/tester/2">HBI-3</a>
						</li><li><a href="http://10.23.72.103/tester/1">HBI-4</a>
						</li><li><a href="http://10.23.72.103/tester/2">HBI-5</a>
						</li><li><a href="http://10.23.72.92/tester/2">HBI_10109</a>
						</li><li><a href="http://10.23.72.92/tester/1">HBI_10106</a>
					</li></ul>
			</li></ul>
		<p></p>
		<br><br>
		<p>
			</p><h3>By Remote Box IP:</h3>
			<ul>
				<li><a href="http://10.23.78.4">10.23.78.4</a>
				</li><li><a href="http://10.23.78.5">10.23.78.5</a>
				</li><li><a href="http://10.23.78.6">10.23.78.6</a>
				</li><li><a href="http://10.23.78.7">10.23.78.7</a>
				</li><li><a href="http://10.23.78.8">10.23.78.8</a>
				</li><li><a href="http://10.23.78.9">10.23.78.9</a>
				</li><li><a href="http://10.23.78.10">10.23.78.10</a>
				</li><li><a href="http://10.23.78.11">10.23.78.11</a>
				</li><li><a href="http://10.23.78.12">10.23.78.12</a>
				</li><li><a href="http://10.23.78.13">10.23.78.13</a>
				</li><li><a href="http://10.23.78.14">10.23.78.14</a>
				</li><li><a href="http://10.23.78.15">10.23.78.15</a>
				</li><li><a href="http://10.23.78.16">10.23.78.16</a>
				</li><li><a href="http://10.23.78.17">10.23.78.17</a>
				</li><li><a href="http://10.23.78.18">10.23.78.18</a>
				</li><li><a href="http://10.23.78.19">10.23.78.19</a>
				</li><li><a href="http://10.23.78.20">10.23.78.20</a>
				</li><li><a href="http://10.23.78.21">10.23.78.21</a>
				</li><li><a href="http://10.23.78.22">10.23.78.22</a>
				</li><li><a href="http://10.23.78.25">10.23.78.25</a>
				</li><li><a href="http://10.23.78.23">10.23.78.23</a>
				</li><li><a href="http://10.23.78.43">10.23.78.43</a>
				</li><li><a href="http://10.23.78.155">10.23.78.155</a>
				</li><li><a href="http://10.23.78.156">10.23.78.156</a>
				</li><li><a href="http://10.23.78.159">10.23.78.159</a>
				</li><li><a href="http://10.23.78.160">10.23.78.160</a>
				</li><li><a href="http://10.23.78.162">10.23.78.162</a>
				</li><li><a href="http://10.23.78.175">10.23.78.175</a>
				</li><li><a href="http://10.23.78.176">10.23.78.176</a>
				</li><li><a href="http://10.23.246.55">10.23.246.55</a>

			</li></ul>
		<p></p>

        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                 
                <p>
                    <img alt="" class="auto-style2" src="Images/intel-footer-logo.png">© 2024 - <span>Intel Corporation. Intel Confidential</span></p>
            </div>
        </div>
    </footer>
    

<script type="text/javascript">
//<![CDATA[

theForm.oldSubmit = theForm.submit;
theForm.submit = WebForm_SaveScrollPositionSubmit;

theForm.oldOnSubmit = theForm.onsubmit;
theForm.onsubmit = WebForm_SaveScrollPositionOnSubmit;
//]]>
</script>
</form>


<div id="hl-aria-live-message-container" aria-live="polite" class="visually-hidden"></div><div id="hl-aria-live-alert-container" role="alert" aria-live="assertive" class="visually-hidden"></div></body>
